
@font-face {
    font-family: 'Estedad';
    src: url('/SajapaApp/files/fonts/Estedad-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Estedad';
    src: url('/SajapaApp/files/fonts/Estedad-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Estedad';
    src: url('/SajapaApp/files/fonts/Estedad-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Estedad', sans-serif;
}

h1 {
    font-family: 'Estedad', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Estedad-Bold', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Estedad-Bold', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Estedad', sans-serif;
    font-weight: 400;
}
